body {
  font-size: 16px;
  color: #343443;
  font-family: 'open_sansregular';
}

/**** style page accueil ****/

.contenu h1 {
  color: #ff3a65;
  font-size: 40px;
  font-family: 'robotoblack';
}
.titlepage {
  color: #ff3a65;
  font-size: 40px;
  font-family: 'robotoblack';
}
.contenu h2,
.contenu h3,
.contenu h4,
.contenu h5,
.card-title {
  color: #343443;
  font-size: 22px;
  font-family: 'robotobold';
}
header.top .navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  color: #343443;
  padding: 10px 30px;
  transition: all 0.4s;
}
header.top .navbar-light .navbar-nav .btn {
  background: #ff3a65;
  border-radius: 0.25rem;
  color: #fff;
}
.adbtn {
  background: #ff3a65;
  border-radius: 0.25rem;
  color: #fff;
  border-color: transparent;
  border: none;
  padding: 12px;
}
.adbtn:hover {
  background: #0147ff;
}
header.top .navbar-light .navbar-nav .btn:focus,
header.top .navbar-light .navbar-nav .btn:hover {
  color: #fff;
  background: #0147ff;
}
header.top .navbar {
  background: transparent;
}
footer.bottom {
  background: #343443;
  color: #fff;
}
footer.bottom {
  background: #282835;
}

a {
  text-decoration: none;
  color: #ff3a65;
}
.slider {
  position: relative;
}
.slider .slogan {
  position: absolute;
  bottom: 24vh;
  left: 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  right: 0;
  font-family: 'robotobold';
}
.slider .slogan .change {
  color: #ff3a65;
}
.carousel {
  background: #343443;
}
.carousel-inner {
  opacity: 0.7;
}

.articles {
  background: #f4f3f2;
  position: relative;
  padding: 50px 0;
}
.articles h2 {
  text-transform: uppercase;
  color: #ff3a65;
  font-family: 'robotobold';
}
.articles .card {
  background-color: #f4f3f2;
  box-shadow: 0 0 4px rgb(34 34 102 / 10%);
  border-radius: 8px 8px 64px 8px;
  min-height: 100%;
}
.articles .card a .card-body {
  color: #282835;
}
.articles .card a .card-body .card-title {
  color: #0147ff;
}
.articles .card a:hover {
  text-decoration: none;
}
.articles .card a:hover .card-title {
  text-decoration: none;
  color: #ff3a65;
}

.static {
  background: #18c;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
.stat-icon i {
  font-size: 40px;
}
.static h3 {
  color: #fff;
  margin: 10px 0 0;
}
/**** style page accueil ****/

/**** style page Inscription ****/

.inscri {
  background: url('https://image.freepik.com/vecteurs-libre/groupe-medecins-debout-au-batiment-hopital-equipe-praticiens-voiture-ambulance_74855-14034.jpg')
    no-repeat;
  /* background-size: cover; */
  background-position: bottom left;
}
.inscri form {
  text-align: left;
}
.inscri .adbtn {
  background: #0147ff;
}
.inscri .adbtn:hover {
  background: #282835;
}

/**** style page Inscription ****/
.login,
.imageL {
  min-height: 80vh;
}
.bg-imageL {
  background-image: url('https://image.freepik.com/vecteurs-libre/concept-medecin-ligne_52683-37585.jpg');
  /* background-size: cover; */
  background-position: center center;
}
