body {
  font-size: 16px;
  color: #343443;
  font-family: 'open_sansregular';
}

/**** style page accueil ****/

.contenu h1 {
  color: #ff3a65;
  font-size: 40px;
  font-family: 'robotoblack';
}
.titlepage {
  color: #ff3a65;
  font-size: 40px;
  font-family: 'robotoblack';
}
.contenu h2,
.contenu h3,
.contenu h4,
.contenu h5,
.card-title {
  color: #343443;
  font-size: 22px;
  font-family: 'robotobold';
}
header.top .navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  color: #343443;
  padding: 10px 30px;
  transition: all 0.4s;
}
header.top .navbar-light .navbar-nav .btn {
  background: #ff3a65;
  border-radius: 0.25rem;
  color: #fff;
  border-color: transparent;
}
.adbtn {
  background: #ff3a65;
  border-radius: 0.25rem;
  color: #fff;
  border-color: transparent;
  border: none;
  padding: 12px;
}
.adbtn:hover {
  background: #0147ff;
}
header.top .navbar-light .navbar-nav .btn:focus,
header.top .navbar-light .navbar-nav .btn:hover {
  color: #fff;
  background: #0147ff;
}
header.top .navbar {
  background: transparent;
}
footer.bottom {
  background: #2c2c2c;
  color: #bbb;
}

a {
  text-decoration: none;
  color: #ff3a65;
}
.slider {
  position: relative;
}
.slider .slogan {
  position: absolute;
  bottom: 24vh;
  left: 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  right: 0;
  font-family: 'robotobold';
}
.slider .slogan .change {
  color: #ff3a65;
}
.carousel {
  background: #343443;
}
.carousel-inner {
  opacity: 0.7;
}

.articles {
  background: #f4f3f2;
  position: relative;
  padding: 50px 0;
}
.articles h2 {
  text-transform: uppercase;
  color: #ff3a65;
  font-family: 'robotobold';
}
.articles .card {
  background-color: #f4f3f2;
  box-shadow: 0 0 4px rgb(34 34 102 / 10%);
  border-radius: 8px 8px 64px 8px;
  min-height: 100%;
}
.articles .card a .card-body {
  color: #282835;
}
.articles .card a .card-body .card-title {
  color: #0147ff;
  text-align: left;
}
.articles .card a:hover {
  text-decoration: none;
}
.articles .card a:hover .card-title {
  text-decoration: none;
  color: #ff3a65;
}
.card-info h1 {
  color: #ff3a65;
  font-size: 40px;
  font-family: 'robotoblack';
}
.card-info h2 {
  color: #343443;
  font-size: 22px;
  font-family: 'robotobold';
}
.card-info p {
  text-align: justify;
}
.static {
  background: #18c;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
.stat-icon i {
  font-size: 40px;
}
.static h3 {
  color: #fff;
  margin: 10px 0 0;
}

footer.bottom a {
  color: #bbb;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: none;
  line-height: 22px;
}
footer.bottom a:hover {
  color: #ff3a65;
}
footer.bottom .social_sidebar_internal a {
  background-color: #313131;
  width: 41px;
  height: 41px;
  padding: 11px 0;
  margin: 0 10px 10px 0;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #bbb;
  border-radius: 5px;
}

footer.bottom .social_sidebar_internal i {
  font-size: 19px;
}
footer.bottom .social_sidebar_internal a:hover,
footer.bottom .social_sidebar_internal a:hover {
  background-color: #0147ff;
  color: #fff;
}
footer.bottom .social_sidebar_internal a:hover {
  color: #fff;
}
footer.bottom .bas {
  background: #1f1f1f;
}
footer.bottom h3 {
  font-size: 20px;
  font-family: 'robotoregular';
}
footer.bottom .same {
  padding-top: 45px !important;
}
/**** style page accueil ****/

/**** style page Inscription ****/

.inscri {
  background: url('https://image.freepik.com/vecteurs-libre/groupe-medecins-debout-au-batiment-hopital-equipe-praticiens-voiture-ambulance_74855-14034.jpg')
    no-repeat;
  /* background-size: cover; */
  background-position: bottom left;
}
.inscri form {
  text-align: left;
}
.inscri .adbtn {
  background: #0147ff;
}
.inscri .adbtn:hover {
  background: #282835;
}

/**** style page Inscription ****/
.login,
.imageL {
  min-height: 80vh;
}
.bg-imageL {
  background-image: url('https://image.freepik.com/vecteurs-libre/concept-medecin-ligne_52683-37585.jpg');
  /* background-size: cover; */
  background-position: center center;
}

/**** style page Dashbord ****/
.list-patients {
  font-family: 'robotoregular';
}
.list-patients .MuiButton-outlinedSizeLarge {
  padding: 6px 10px;
}
.MuiTableCell-body {
  color: #3c4b64 !important;
}
.list-patients .table thead th {
  border-bottom: none;
}
.list-patients .table > :not(caption) > * > * {
  padding: 1.2rem 0.5rem;
}
.list-patients .table thead th:last-child {
  text-align: center;
}
.list-patients .table tr td:last-child {
  text-align: center;
}
.list-patients .table > tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.sidebar-dash .nav-item .nav-link {
  font-size: 16px;
  font-family: 'robotoregular';
}
.sidebar-dash .nav-sidebar .nav-item .nav-icon {
  color: #0147ff;
}
.list-patients .content-header h1 {
  font-family: 'robotomedium';
  color: #0147ff;
}
.list-patients .card {
  padding: 20px;
}
.sidebar-dash .nav-header,
.sidebar-dash .user-panel .info {
  font-weight: 600;
}

.list-patients .card .card-body {
  padding-left: 0;
  padding-right: 0;
}
select.form-select-lg {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
/**** style page Dashbord ****/

/**** style page Portail ****/
.profile {
}
.block__picture {
  background-color: white;
  margin: 13px;
  overflow: hidden;
}
.block_family_member {
  position: relative;
  transform: translateY(-5px) scale(1);
  transition: transform 0.3s;
}
.block_family_member .block_dropzone {
  background-color: white;
  position: relative;
  z-index: 1;
  border: 2px solid #353342;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: inline-block;
  margin: 0 15px;
}
.profile .outils {
  padding: 50px 0;
}
.profile .outils .card {
  background-color: #f4f3f2;
  box-shadow: 0 0 4px rgb(34 34 102 / 10%);
  border-radius: 8px 8px 64px 8px;
  min-height: 100%;
}
.block__picture::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #1bbab9;
}
.block_name_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.block_dropzone .form-control {
  position: absolute;
  inset: 0px;
  opacity: 1e-5;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.block_name_container img {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
}
.profile .block__picture {
  position: relative;
  padding-top: 30px;
  margin: 0;
  background: #fbfbfb;
  padding-bottom: 30px;
}
